@page
@model RegisterModel

@{
    ViewData["Title"] = "Registrarse";
}

<div class="container">
    <div class="col-md-4" id="content">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>
            <br>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Correo*" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña*" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar Contraseña*" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div><br>
            <div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrarse</button>
            </div><br />
            <div align="center">
                <a id="page-login" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-sm btn-success">Iniciar Sesion</a>
            </div>
        </form>
    </div>
   @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Usa otro servicio para registrarte.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                }
                else
                {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                </p>
                            </div>
                        </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
