@model IEnumerable<CRUDInventoryQuick.Models.PRODUCTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="color :black; text-shadow: black 0.1em 0.1em 0.2em;">Productos</h2>
<br />

<p>
    <a asp-action="Create" class="btn btn-sm btn-info" ><i class="bi bi-bookmark-plus"></i>Agregar Producto</a>
</p>
<table id="Tablas" class="table table-hover table-bordered" style="width:100%">
    <thead class="table-primary">
        <tr>
            <th width="30">
               Id 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
@*            var errorAdd = false;*@
            var error = false;
            var errorT= $"Error{item.ProductoId}";
@*            var errorAumentarProductoCantidad = $"Error{item.ProductoId}";
            if (TempData.ContainsKey(errorAumentarProductoCantidad))
            {
                errorAdd = true;
            }*@

            if (TempData.ContainsKey(errorT))
            {
                error = true;
            }

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td align="right" width="300">
                <a asp-action="Edit" asp-route-id="@item.ProductoId"  class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a> 
                <a asp-action="Details" asp-route-id="@item.ProductoId"  class="btn btn-sm btn-success"><i class="bi bi-bar-chart"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.ProductoId" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                <p></p>
                    <form asp-action="AgregarCantidad" asp-route-id="@item.ProductoId" method="post">
                        <div class="col-xs-12 col-md-3 input-group">
                            <input type="number" name="cantidadA" id="cantidadA" value="" placeholder="Agregar Cantidad" style="width : 120px; heigth : 1px" class="form-control" required/>&nbsp;
                            <input type="submit" value="+" class="btn btn-sm btn-success" />
                         </div>
                        
                        @Html.AntiForgeryToken()
                    </form><br>
@*                    @if (errorAdd)
                    {
                        <div class="alert alert-danger">@TempData[errorAumentarProductoCantidad]</div>
                    }*@
                    <form asp-action="EliminarCantidad" asp-route-id="@item.ProductoId" method="post">
                        <div class="col-xs-12 col-md-3 input-group ">
                            <input type="number" name="cantidadE" id="cantidadE" value="" placeholder="Eliminar Cantidad" style="width : 120px; heigth : 1px" class="form-control" required/>&nbsp;
                            <input type="submit" value="-" class="btn btn-sm btn-danger" />
                        </div>
                        @Html.AntiForgeryToken()
                    </form><br>
                    @if (error)
                    {
                        <div class="alert alert-danger">@TempData[errorT]</div>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
