@model IEnumerable<CRUDInventoryQuick.Models.ASPNETUSERROLES>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color :black">Administrar Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-info"><i class="bi bi-bookmark-plus"></i>Create New</a>
</p>
<table id="Tablas" class="table table-hover table-bordered" style="width:100%">
    <thead class="table-primary">
    <thead>
        <tr>
            <th>
               Id   
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ASPNETUSER_ASPNETUSER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ASPNETROLES_ASPNETROLES)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ASPNETUSER_ASPNETUSER.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ASPNETROLES_ASPNETROLES.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
